@{ 
    var aluno = ViewBag.alunoRetornado;
}
<h1>Página de Editar o aluno<</h1>>
<form action='@Url.Action("Atualizar")' method="post" enctype="multipart/form-data">
    <div class="form-aluno-id">
        <label for="id">ID:</label>
        <input type="text" name="alunoId" id="id" value="@aluno.Id" />
    </div>
    <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" name="alunoNome" placeholder="Ex.Douglas Ferreira" id="nome" value="@aluno.Nome" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" name="alunoEmail" placeholder="Ex.douglas@gmail.com" id="email" value="@aluno.Email" class="form-control" />
    </div>
    <div class="form-group">
         <label for="endereco">Endereço:</label>
         <input type="text" name="alunoEndereco" placeholder="Ex. São Paulo" id="endereco" value="@aluno.Endereco" class="form-control"/>
    </div>
         <label for="telefone">Telefone:</label>
         <input type="text" name="alunoTelefone" placeholder="Ex. (11) 9999-9999" id="telefone" value="@aluno.Telefone" class="form-control"/>
    <div class="form-group">
        <label for="escolaridade">Escolaridade:</label>
        <input type="text" name="alunoEscolaridade" placeholder="Ex. 1° Ano do ensino Médio" id="escolaridade" value="@aluno.Escolaridade" class="form-control"/>
    </div>
    <button type="submit">Atualizar</button>
</form>
